*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 50px auto;
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
}
